<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="czk" value="http://api.nbp.pl/api/exchangerates/rates/a/czk?format=json" />
		<add key="eur" value="http://api.nbp.pl/api/exchangerates/rates/a/eur?format=json" />
		<add key="usd" value="http://api.nbp.pl/api/exchangerates/rates/a/usd?format=json" />
		<add key="idr" value="http://api.nbp.pl/api/exchangerates/rates/a/idr?format=json" />
		<add key="cny" value="http://api.nbp.pl/api/exchangerates/rates/a/cny?format=json" />
	</appSettings>
</configuration>